<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Alle Studierenden anzeigen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${studierenden}" class="container my-5">
            <p class="my-5">
                <a href="/update" class="btn btn-success">
                <i class="fas fa-user-plus ml-2">Studierende im System hinzufuegen </i></a>
            </p>
          
            <div class="col-md-10">
                <h2 th:case="null">Kein Eintrag gefunden !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                <th>Email</th>
                                <th>update</th>
                                <th>loeschen</th>
                            </tr>
                            <tr th:if="${#lists.isEmpty(studierenden)}">
                            <td colspan="5">Kein Eintrag gefunden !! Add some...!</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="studierende : ${studierenden}">
                                <td th:text="${studierende.vorname}"></td>
                                <td th:text="${studierende.nachname}"></td>
                                <td th:text="${studierende.mail_adresse}"></td>
                                <td>
                                    <a th:href="@{/update/{mnr}(mnr=${studierende.mnr})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete/{mnr}(mnr=${studierende.mnr})}" class="btn btn-danger">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>